body {
    font-family: Candara;
}

.list-unstyled {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.creature-list-wrapper {
    padding: 1em;
}

.creature-list-legend span {
    font-weight: bold;
}
.creature {
    /*
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    */
}
.creature[data-current="true"] {
    color: red;
}

.creature > div {
    /*
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    display: flex;
    flex-direction: column;
    */
}

.creature > div .edit,
.creature > div .edit input 
{ 
    width: 100%;
}

.creature .creature__initiative,
.creature .creature__ac,
.creature .creature__hp,
.creature .creature__buttons
 { 
    /*
    width: 10%;
    min-width: 2em;
    max-width: 50px;
    */
}

.creature .creature__name { 
    /*width: 40%;*/
}

form#form-creature-new input {
    /*width: 100%;*/
}

/*
.creature-edit {
    width: 80%;
    max-width: 400px;
    border: 1px solid black;
    padding: 1rem;
    background-color: #ebd5b3;
}
.creature-edit .creature__buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.creature-edit .creature__buttons input[type="submit"] {
    flex-basis: 100%;
}
*/

form h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

/*
.form-group {
    display: flex;

    padding: 0.5rem;
    padding-left: 0;
    padding-right: 0;
}
*/
.form-group > label {
    width: calc(100% * (4 / 12));
}
/*
.form-control {
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 0;
}
*/
/*
.btn {
    border-radius: 0;
    border: none;
    padding: 0.5rem;
}
.btn-success {
    background-color: #257d05;
    color: #ffffff;
}
.btn-danger {
    background-color: #9f1111;
    color: #ffffff;
}
*/